<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.electrical.design.mapper.ElectricityProjectDeviceMapper">
    
    <resultMap type="ElectricityProjectDevice" id="ElectricityProjectDeviceResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceLocation"    column="device_location"    />
        <result property="deviceType"    column="device_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectElectricityProjectDeviceVo">
        select id, project_id, device_name, device_location, device_type, create_by, create_time, update_by, update_time from electricity_project_device
    </sql>

    <select id="selectElectricityProjectDeviceList" parameterType="ElectricityProjectDevice" resultMap="ElectricityProjectDeviceResult">
        <include refid="selectElectricityProjectDeviceVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="deviceLocation != null  and deviceLocation != ''"> and device_location = #{deviceLocation}</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
        </where>
    </select>
    
    <select id="selectElectricityProjectDeviceById" parameterType="Long" resultMap="ElectricityProjectDeviceResult">
        <include refid="selectElectricityProjectDeviceVo"/>
        where id = #{id}
    </select>

    <insert id="insertElectricityProjectDevice" parameterType="ElectricityProjectDevice">
        insert into electricity_project_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="deviceLocation != null">device_location,</if>
            <if test="deviceType != null and deviceType != ''">device_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="deviceLocation != null">#{deviceLocation},</if>
            <if test="deviceType != null and deviceType != ''">#{deviceType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateElectricityProjectDevice" parameterType="ElectricityProjectDevice">
        update electricity_project_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="deviceLocation != null">device_location = #{deviceLocation},</if>
            <if test="deviceType != null and deviceType != ''">device_type = #{deviceType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteElectricityProjectDeviceById" parameterType="Long">
        delete from electricity_project_device where id = #{id}
    </delete>

    <delete id="deleteElectricityProjectDeviceByIds" parameterType="String">
        delete from electricity_project_device where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>