@font-face {
  font-family: "iconfont"; /* Project id 4621030 */
  src: url('iconfont.woff2?t=1721029611081') format('woff2'),
       url('iconfont.woff?t=1721029611081') format('woff'),
       url('iconfont.ttf?t=1721029611081') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-download:before {
  content: "\e60c";
}

.iconfont-reload:before {
  content: "\e6dd";
}

.iconfont-bg-pdf:before {
  content: "\e639";
}

.iconfont-bg-word:before {
  content: "\e63e";
}

.iconfont-pdf:before {
  content: "\e665";
}

.iconfont-word:before {
  content: "\e668";
}

.iconfont-download1:before {
  content: "\e839";
}

