<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.electrical.template.mapper.DetectTemplateMapper">
    
    <resultMap type="DetectTemplate" id="DetectTemplateResult">
        <result property="id"    column="id"    />
        <result property="detectId"    column="detect_id"    />
        <result property="detectName"    column="detect_name"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDetectTemplateVo">
        select id, detect_id, detect_name, name, type, create_by, create_time, update_by, update_time from detect_template
    </sql>

    <select id="selectDetectTemplateList" parameterType="DetectTemplate" resultMap="DetectTemplateResult">
        <include refid="selectDetectTemplateVo"/>
        <where>  
            <if test="detectId != null "> and detect_id = #{detectId}</if>
            <if test="detectName != null  and detectName != ''"> and detect_name like concat('%', #{detectName}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="checkDetectTemplateName" parameterType="DetectTemplate" resultType="Integer">
        select count(1) from detect_template
        <where>  
            <if test="name != null  and name != ''"> and name = #{name}</if>
            <if test="id != null  and id != ''"> and id != #{id}</if>
        </where>
    </select>
    
    <select id="selectDetectTemplateById" parameterType="Long" resultMap="DetectTemplateResult">
        <include refid="selectDetectTemplateVo"/>
        where id = #{id}
    </select>
    
    <select id="selectDetectTemplateDict"  resultType="com.ruoyi.electrical.vo.DictVO">
        select id, name from detect_template
    </select>
    
    <select id="queryDetectTemplateDict" parameterType="DetectTemplate" resultType="com.ruoyi.electrical.vo.DictVO">
        select id, name from detect_template 
		<where>  
            <if test="detectId != null "> and detect_id = #{detectId}</if>
            <if test="detectName != null  and detectName != ''"> and detect_name like concat('%', #{detectName}, '%')</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>

    <insert id="insertDetectTemplate" parameterType="DetectTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into detect_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="detectId != null">detect_id,</if>
            <if test="detectName != null">detect_name,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="detectId != null">#{detectId},</if>
            <if test="detectName != null">#{detectName},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDetectTemplate" parameterType="DetectTemplate">
        update detect_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="detectId != null">detect_id = #{detectId},</if>
            <if test="detectName != null">detect_name = #{detectName},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDetectTemplateById" parameterType="Long">
        delete from detect_template where id = #{id}
    </delete>

    <delete id="deleteDetectTemplateByIds" parameterType="String">
        delete from detect_template where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>