<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.electrical.template.mapper.IntuitiveDetectMapper">
    
    <resultMap type="IntuitiveDetect" id="IntuitiveDetectResult">
        <result property="id"    column="id"    />
        <result property="templateId"    column="template_id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="code"    column="code"    />
        <result property="unitType"    column="unit_type"    />
        <result property="attribution"    column="attribution"  typeHandler="com.ruoyi.electrical.type.ListStringTypeHandler" />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectIntuitiveDetectVo">
        select id, template_id, name, type, code, attribution, unit_type, create_by, create_time, update_by, update_time from intuitive_detect
    </sql>

    <select id="selectIntuitiveDetectList" parameterType="com.ruoyi.electrical.template.dto.IntuitiveDetectQuery" resultMap="IntuitiveDetectResult">
        <include refid="selectIntuitiveDetectVo"/>
        <where> 
            <if test="templateId != null "> and template_id = #{templateId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
            <if test="unitType != null  and unitType != ''"> and unit_type = #{unitType}</if>
            <if test="attribution != null  and attribution != ''"> and #{attribution} member of(attribution)</if>
        </where>
        order by id asc
    </select>
    
    <select id="selectIntuitiveDetectById" parameterType="Long" resultMap="IntuitiveDetectResult">
        <include refid="selectIntuitiveDetectVo"/>
        where id = #{id}
    </select>
    
    <select id="selectIntuitiveDetectDict" parameterType="Long" resultType="com.ruoyi.electrical.vo.DictVO">
        select id, CONCAT(code, '(', name, ')') as name from intuitive_detect where template_id = #{templateId}
    </select>
    
    <select id="selectIntuitiveDetectListDict" parameterType="IntuitiveDetect" resultType="com.ruoyi.electrical.vo.DictVO">
        select id, CONCAT(code, '(', name, ')') as name from intuitive_detect 
        <where>  
            <if test="templateId != null "> and template_id = #{templateId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="code != null  and code != ''"> and code like concat('%', #{code}, '%')</if>
            <if test="unitType != null  and unitType != ''"> and unit_type = #{unitType}</if>
            <if test="attribution != null  and attribution != ''"> and #{attribution} member of(attribution)</if>
        </where>
    </select>

    <insert id="insertIntuitiveDetect" parameterType="IntuitiveDetect" useGeneratedKeys="true" keyProperty="id">
        insert into intuitive_detect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateId != null">template_id,</if>
            <if test="name != null">name,</if>
            <if test="type != null">type,</if>
            <if test="code != null">code,</if>
            <if test="attribution != null">attribution,</if>
            <if test="unitType != null">unit_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateId != null">#{templateId},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="code != null">#{code},</if>
            <if test="attribution != null">#{attribution,typeHandler=com.ruoyi.electrical.type.ListStringTypeHandler},</if>
            <if test="unitType != null">#{unitType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateIntuitiveDetect" parameterType="IntuitiveDetect">
        update intuitive_detect
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateId != null">template_id = #{templateId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="type != null">type = #{type},</if>
            <if test="code != null">code = #{code},</if>
            <if test="attribution != null">attribution = #{attribution,typeHandler=com.ruoyi.electrical.type.ListStringTypeHandler},</if>
            <if test="unitType != null">unit_type = #{unitType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteIntuitiveDetectById" parameterType="Long">
        delete from intuitive_detect where id = #{id}
    </delete>
    
    <delete id="deleteIntuitiveDetectByTemplateIdAndUnitType" >
        delete from intuitive_detect where template_id = #{templateId} and unit_type = #{unitType}
    </delete>
    
    <delete id="deleteIntuitiveDetectByTemplateId" >
        delete from intuitive_detect where template_id = #{templateId}
    </delete>

    <delete id="deleteIntuitiveDetectByIds" parameterType="String">
        delete from intuitive_detect where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>