<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.electrical.project.mapper.ProjectAreaMapper">
    
    <resultMap type="ProjectArea" id="ProjectAreaResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="district"    column="district"    />
        <result property="districtName"    column="district_name"    />
        <result property="street"    column="street"    />
        <result property="streetName"    column="street_name"    />
        <result property="community"    column="community"    />
        <result property="communityName"    column="community_name"    />
        <result property="hamlet"    column="hamlet"    />
        <result property="hamletName"    column="hamlet_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
    
    <resultMap type="AreaDict" id="AreaDictResult">
        <result property="dictCode"    column="dict_code"    />
        <result property="dictSort"    column="dict_sort"    />
        <result property="dictLabel"    column="dict_label"    />
        <result property="dictValue"    column="dict_value"    />
        <result property="dictType"    column="dict_type"    />
        <result property="projectId"    column="project_id"    />
        <result property="cssClass"    column="css_class"    />
        <result property="listClass"    column="list_class"    />
        <result property="isDefault"    column="is_default"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectProjectAreaVo">
        select a.id, a.project_id, p.name as project_name, a.district, a.street, a.community, a.hamlet, a.create_by, a.create_time, a.update_by, a.update_time 
        from project_area a left join project p on a.project_id = p.id
    </sql>

    <select id="selectProjectAreaList" parameterType="ProjectArea" resultMap="ProjectAreaResult">
        <include refid="selectProjectAreaVo"/>
        <where>  
            <if test="projectId != null "> and a.project_id = #{projectId}</if>
            <if test="district != null "> and a.district = #{district}</if>
            <if test="street != null "> and a.street = #{street}</if>
            <if test="community != null "> and a.community = #{community}</if>
            <if test="hamlet != null "> and a.hamlet = #{hamlet}</if>
        </where>
    </select>
    
    <select id="queryProjectAreaByProjectId" parameterType="Long" resultMap="ProjectAreaResult">
        select pa.id, pa.project_id, pa.district,a.dict_label as district_name, pa.street, b.dict_label as street_name, pa.community, c.dict_label as community_name, pa.hamlet, d.dict_label as hamlet_name from project_area pa
		left join sys_dict_data a on pa.district = a.dict_value and a.dict_type='district'
		left join sys_dict_data b on pa.street = b.dict_value and b.dict_type='street'
		left join sys_dict_data c on pa.community = c.dict_value and c.dict_type='community'
		left join sys_dict_data d on pa.hamlet = d.dict_value and d.dict_type='hamlet'
		where pa.project_id = #{projectId}
    </select>
    
    <select id="selectProjectAreaById" parameterType="Long" resultMap="ProjectAreaResult">
        <include refid="selectProjectAreaVo"/>
        where a.id = #{id}
    </select>
    
    <select id="queryProjectAreaDictByProjectId" parameterType="Long" resultType="com.ruoyi.electrical.vo.DictVO">
        select pa.id as id,CONCAT_WS('/',a.dict_label,b.dict_label,c.dict_label,d.dict_label) as name from project_area pa 
		left join sys_dict_data a on (pa.district = a.dict_value and a.dict_type='district' and a.project_id = #{projectId})
		left join sys_dict_data b on (pa.street = b.dict_value and b.dict_type='street' and b.project_id = #{projectId})
		left join sys_dict_data c on (pa.community = c.dict_value and c.dict_type='community' and c.project_id = #{projectId})
		left join sys_dict_data d on (pa.hamlet = d.dict_value and d.dict_type='hamlet' and d.project_id = #{projectId})
		where pa.project_id = #{projectId}
    </select>
    
    <select id="queryProjectAreaDict" resultType="com.ruoyi.electrical.vo.DictVO">
        select pa.id as id,CONCAT_WS('/',a.dict_label,b.dict_label,c.dict_label,d.dict_label) as name from project_area pa 
		left join sys_dict_data a on pa.district = a.dict_value and a.dict_type='district'
		left join sys_dict_data b on pa.street = b.dict_value and b.dict_type='street'
		left join sys_dict_data c on pa.community = c.dict_value and c.dict_type='community'
		left join sys_dict_data d on pa.hamlet = d.dict_value and d.dict_type='hamlet'
		
    </select>
    
    <select id="queryProjectAreaDictByProjectIdAndType" resultMap="AreaDictResult">
    	select d.dict_code, d.dict_sort, d.dict_label, d.dict_value, d.dict_type, d.project_id, d.css_class, d.list_class, d.is_default, d.status, d.create_by, d.create_time, d.update_by, d.update_time, d.remark 
		from sys_dict_data d where d.project_id = #{projectId} and d.dict_type=#{type}
        <if test="type == 'district'"> and  EXISTS (select pa.district from project_area pa where pa.project_id = #{projectId} and d.dict_value = pa.district)</if>
        <if test="type == 'street'"> and  EXISTS (select pa.street from project_area pa where pa.project_id = #{projectId} and d.dict_value = pa.street)</if>
        <if test="type == 'community'"> and  EXISTS (select pa.community from project_area pa where pa.project_id = #{projectId} and d.dict_value = pa.community)</if>
        <if test="type == 'hamlet'"> and  EXISTS (select pa.hamlet from project_area pa where pa.project_id = #{projectId} and d.dict_value = pa.hamlet)</if>
    </select>

    <insert id="insertProjectArea" parameterType="ProjectArea">
        insert into project_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="projectName != null">project_name,</if>
            <if test="district != null">district,</if>
            <if test="street != null">street,</if>
            <if test="community != null">community,</if>
            <if test="hamlet != null">hamlet,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="district != null">#{district},</if>
            <if test="street != null">#{street},</if>
            <if test="community != null">#{community},</if>
            <if test="hamlet != null">#{hamlet},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProjectArea" parameterType="ProjectArea">
        update project_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="district != null">district = #{district},</if>
            <if test="street != null">street = #{street},</if>
            <if test="community != null">community = #{community},</if>
            <if test="hamlet != null">hamlet = #{hamlet},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteProjectAreaById" parameterType="Long">
        delete from project_area where id = #{id}
    </delete>

    <delete id="deleteProjectAreaByIds" parameterType="String">
        delete from project_area where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>